
.contain
{
  
    position: relative;
    top: 457px;
    left: 375px;
    width: 100vh;
    
    height:5px;
}

.frame
{
    display: flex;
 
    border-radius: 20px;

    width: 11.4vw;
    height: 50.6vh;
   
}
.window
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100vw;
    height: 90vh;
}

.tr808
{
    margin-left: 180px;
     border-radius: 10px;
     height: 60vh;
     box-shadow: 50px 50px 240px 123px rgba(0,0,0,0.75);
}

.keypad
{
    position: relative;
    top: -5px;
    height: 80px;
 
}

.synth
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
}