


.contain
{
  
    position: relative;
    top: 470px;
    left: 918px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.frame
{
    display: flex;
 
    border-radius: 20px;

    width: 9.05vw;
    height: 50.6vh;
   
}
.window
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 90vh;
}

.tr808
{
    position: relative;
    margin-left: 50vw;
     border-radius: 10px;
     height: 60vh;
     box-shadow: 50px 50px 240px 123px rgba(0,0,0,0.75);
}

.keypad
{
    position: relative;
    
    width: 56px;
    top: -0.6px;
    height: 72px;
 
}
.keypad:active
{
     height: 75px;
 }


.synth 
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}
.synth2
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad2
{
    position: absolute;
    width: 40px;
    top:12px;
    height: 58px;
 
}

.keypad2:active
{
     height: 60px;
 }


 .contain2
{
  
    position: relative;
    top: 470px;
    left: 1097px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.synth2
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}


 .contain3
{
  
    position: relative;
    top: 470px;
    left: 746px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.synth3
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad3
{
    position: absolute;
    width: 55px;
    top:3px;
    height: 78px;
}

.keypad3:active
{
     height: 80px;
 }



.lether
{
    position: absolute;
    left: 2px;
    top:56px;
    width: 100vw;
    height: 96vh;
}

.contain4
{
  
    position: relative;
    top: 470px;
    left: 924px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.synth4
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad4
{
    position: absolute;
    width: 55px;
    top:3px;
    height: 78px;
}

.keypad4:active
{
     height: 80px;
 }

 /* .knob-tr808
 {

position: absolute;
left: 24.5vw;
top: 46.7vh;
width: 6vw;
rotate: 10deg ;
 } */

 .knob
 {

position: absolute;
left: 21.5vw;
top: 23.7vh;
width: 6vw;
rotate: ;
 }


 @media (prefers-reduced-motion: no-preference) {
    .s {
      animation: App-logo-spin infinite 7s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);;
    }
    to {
      transform: rotate(360deg);;
    }
  }

  .currentPreset
  {
position: absolute;
width:137px;
top: 30.6vh;
left: 27vw;
background-color: rgb(144, 144, 144);
color: rgb(61, 59, 59);
outline-style: none;
border-radius: 3px;
  }

 



  .presetLabel
  {
     position: relative;
     display: inline-block;
    font-size: 30px;
    color: rgb(255, 255, 255);
     width:40vw;
    left: -97vw;
    height: 20px;
    border:2px solid rgb(238, 238, 238);
    font-weight: bolder;

  }

 

  .time
  {
      font-family:"myFirstFont";
      color: rgb(255, 255, 255);
      font-size: 13px;
      position: fixed;
      left: 90vw;
      top:1vh;
      opacity: 0.3;
      transition: 0.3s;
  }
  .time:hover
  {
      letter-spacing: 2px;
      font-family:"myFirstFont";
      color: rgb(255, 255, 255);
      font-size: 17px;
      position: fixed;
      left: 89vw;
      top:0.2vh;
      opacity: 0.9;
      transition: 0.5s;
  }