

body
{
    
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden; 
    min-width:300px;
    
}

.container {
    
position: relative;
    max-width: 100vw;
    margin:  auto 0;
    height: 68vh;
    
    
}


.window
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 66vh;
}


.frame
{
    display: flex;
 justify-content: flex-start;
    border-radius: 20px;
    margin-left:48.9vh;
    margin-top: 3vh;
    width: 9.5vw;
    height: 50.6vh;
    
   
}

.tr808
{
    position: relative;
    left: 41vw;
     border-radius: 10px;
     height: 60vh;
     box-shadow: 50px 50px 240px 123px rgba(0,0,0,0.75);
}

.contain
{
  
    position: relative;
    top: 455.5px;
    left: 64.2vw;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}


.contain2
{
  
    position: relative;
    top: 455.5px;
    left: 64.2vw;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}


.contain3
{
  
    position: relative;
    top: 455.5px;
    left: 64.3vw;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.contain4
{
  
    position: relative;
    top: 455.5px;
    left: 64.4vw;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}


.keypad
{
    position: relative;
    
    width: 56px;
    top: -0.6px;
    height: 72px;
 
}
.keypad:active
{
     height: 75px;
 }

 .keypad2
 {
     position: absolute;
     width: 40px;
     top:12px;
     height: 58px;
  
 }
 
 .keypad2:active
 {
      height: 60px;
  }

  .keypad3
  {
      position: absolute;
      width: 55px;
      top:3px;
      height: 78px;
  }
  
  .keypad3:active
  {
       height: 80px;
   }

   .keypad4
   {
       position: absolute;
       width: 55px;
       top:3px;
       height: 76px;
   }
   
   .keypad4:active
   {
        height: 80px;
    }
 




.synth 
{
    display: flex;
    justify-content: center;
    
     
}


.lether
{
    position: absolute;
    left: 2px;
    top:-10vh;
    width: 100vw;
    height: 94.2vh;
}

 .knob
 {

position: absolute;
left: 21.5vw;
top: 23.7vh;
width: 6vw;

 }


 @media (prefers-reduced-motion: no-preference) {
    .s {
      animation: App-logo-spin infinite 7s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);;
    }
    to {
      transform: rotate(360deg);;
    }
  }



.currentPreset
{
position: absolute;
width:137px;
top: 12.5vh;
left: 30.3vw;
background-color: rgb(144, 144, 144);
color: rgb(61, 59, 59);
outline-style: none;
border-radius: 3px;
}


.presetLabel
 {
     position: relative;
     display: inline-block;
    font-size: 30px;
    color: rgb(255, 255, 255);
     width:40vw;
    left: -97vw;
    height: 20px;
    border:2px solid rgb(238, 238, 238);
    font-weight: bolder;

  }

 

  .time
  {
      font-family:"myFirstFont";
      color: rgb(255, 255, 255);
      font-size: 16px;
      position: fixed;
      left: 90vw;
      top:0.5vh;
      opacity: 0.3;
      transition: 0.3s;
  }
  .time:hover
  {
      letter-spacing: 2px;
      font-family:"myFirstFont";
      color: rgb(240, 217, 16);
      font-size: 18px;
      position: fixed;
      left: 89.5vw;
      top:0.2vh;
      opacity: 0.9;
      transition: 0.5s;
  }

  .contain,.contain2,.contain3,.contain4
  {
      
right: 40vh;


  }