
.contain
{
  
    position: relative;
    top: 457px;
    left: 378px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.frame
{
    display: flex;
 
    border-radius: 20px;

    width: 9.05vw;
    height: 50.6vh;
   
}
.window
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100vw;
    height: 90vh;
}

.tr808
{
    margin-left: 180px;
     border-radius: 10px;
     height: 60vh;
     box-shadow: 50px 50px 240px 123px rgba(0,0,0,0.75);
}

.keypad
{
    position: absolute;
    width: 56px;
    top: -0.6px;
    height: 73px;
 
}
.keypad:active
{
     height: 75px;
 }


.synth 
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}
.synth2
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad2
{
    position: absolute;
    width: 38px;
    top:8px;
    height: 58px;
 
}

.keypad2:active
{
     height: 60px;
 }


 .contain2
{
  
    position: relative;
    top: 457px;
    left: 378px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.synth2
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad2
{
    position: absolute;
    width: 38px;
    top:8px;
    height: 58px;
 
}

.keypad2:active
{
     height: 60px;
 }

 .contain3
{
  
    position: relative;
    top: 457px;
    left: 380px;
    width: 100vh;
    min-width: 4.5vh;
     height:5px;
}

.synth3
{
    display: flex;
    justify-content: center;
    bottom: 60px;
    
    
}

.keypad3
{
    position: absolute;
    width: 55px;
    top: -0.5px;
    height: 78px;
}

.keypad3:active
{
     height: 80px;
 }

