.App {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(5, 1, 1),rgb(62, 31, 104));
  width: 100%;
  height: 940px;
}

.App-logo {

  height: 100px;
  pointer-events: none;
  opacity: 0.5;
}

.App-logo2 {

  height: 20vmin;
  pointer-events: none;
  opacity: 0.2;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  margin-top: 100px;
  background-image: linear-gradient(white,blue);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:50%;
  margin-left: 25%;
  border-radius: 20px;
  box-shadow: 10px 10px 21px 3px rgba(0,0,0,0.75);

  
}



.box
{

display: flex;
justify-content: center;
flex-wrap: wrap;
width: 240px;
}

.count
{
color: black;
margin-bottom: 10px;
width: 75%;
height: 40px;
border: 2px solid black;
background-color: yellow;
border-radius: 5px;


}


.App-link {
  color: #06627c;
}

@keyframes App-logo-spin {
  from {
    transform: skew(0deg, 0deg)rotate(0deg);;
  }
  to {
    transform: skew(360deg, 360deg)rotate(360deg);;
  }
}


@keyframes App-logo2-spin {
  from {
    transform: skew(0deg, 0deg)rotate(0deg);;
  }
  to {
    transform: skew(10deg, 10deg)rotate(360deg);;
  }
}



button
{
  width: 50px;
  margin: 5px;
font-size: 30px;
padding: 10px;
border-radius: 20px;
cursor: pointer;
outline: none;

}

.reset
{

  width: 110px;
  margin: 5px;
font-size: 30px;
padding: 10px;
border-radius: 20px;
cursor: pointer;
outline: none;

}

.counter
{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 3px 3px 0px  rgb(0, 0, 0) ;

}

.bord
{
display: flex;
flex-wrap: wrap;

}