.App {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(5, 1, 1),rgb(62, 31, 104));
  width: 100%;
  height: 940px;
}

.App-logo {

  height: 100px;
  pointer-events: none;
  opacity: 0.5;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  margin-top: 100px;
  background-image: linear-gradient(white,blue);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:60%;
  margin-left: 20%;
  border-radius: 20px;
  box-shadow: 10px 10px 21px 3px rgba(0,0,0,0.75);

  
}




h2:hover
{
font-size: 37px;
box-shadow: 10px 20px 121px 13px rgba(0,0,0,0.75);
border-radius: 20px;
transition: 0.7s;
background-color: rgb(23, 23, 48);
font-family: arial;
color: rgb(189, 216, 246);
text-shadow: 1px 3px 5px rgb(131, 129, 129);
border: 1px dashed white;

}




.border
{
color: black;
margin-bottom: 10px;
width: 75%;
height: 80px;
border: 2px solid black;

border-radius: 5px;


}


.App-link {
  color: #06627c;
}

@keyframes App-logo-spin {
  from {
    transform: skew(0deg, 0deg)rotate(0deg);;
  }
  to {
    transform: skew(360deg, 360deg)rotate(360deg);;
  }
}


@keyframes App-logo2-spin {
  from {
    transform: skew(0deg, 0deg)rotate(0deg);;
  }
  to {
    transform: skew(10deg, 10deg)rotate(360deg);;
  }
}



button
{
  position: relative;
  left: -1068px;
 
  width: 0.02px;
  height: 0.02px;
  font-size: 5px;
  padding: 4px;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  background-image: radial-gradient(rgb(212, 208, 208),black);
 
}










button:active
{
  background-image: radial-gradient(rgb(231, 217, 15)50%,black);
}

.main
{
display: flex;
flex-direction: column;
justify-content: center;

}


.homepage
{
  background-image: linear-gradient(rgb(18, 6, 90),rgb(33, 12, 151)10%,rgb(136, 134, 146)50%,rgb(9, 3, 39));
  height: 90vh;
  width: 100vw;
  
}

.aboutpage
{
  background-image: linear-gradient(rgb(18, 6, 90),rgb(33, 12, 151)10%,rgb(136, 134, 146)50%,rgb(9, 3, 39));
 margin: 0;
 width: 100vw;
  height: 90vh;
}


p
{
  display: flex;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;

}

.beatboxTitle
{
  text-shadow: 5px 5px 5px rgba(150, 150, 150, 1);
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
color: rgb(31, 9, 238);
font-size: 45px;


}
.menulist
{
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-image: linear-gradient(rgb(32, 2, 2),rgb(233, 233, 233)20%,rgb(136, 136, 136),rgb(7, 1, 15));
  padding: 5px 0px;
  margin: 0;
  
}

 li
{
 
margin: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
text-shadow: 5px 5px 5px rgb(44, 38, 38);

}



.imghome
{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}

h2
{
  
  color:rgba(207, 233, 124,0);
  width: 50%;
  max-width: 80%;
  font-size: 2px;
  height: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 25%;
  transition: 0.7s;
  

}

.sequence
{
  
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 48);
  border:10px solid rgb(11, 2, 32);
}
input[type=checkbox] {
  margin:20px;
  transform: scale(2.8);
  
}


.home-title
{
font-size: 35px;
color: white;
letter-spacing: 2px;

}

.about-title
{
  font-size: 35px;
color: white;
letter-spacing: 2px;
}

.about-Desc
{
  
  width: 90%;
  height: 60vh;
  margin: auto;
  font-size: 25px;
  
}

.kick
{
padding:0px 200px;
 background: rgb(9, 176, 241);
 border-radius: 10px;
}
.snare
{
  padding:0px 200px;
  margin-top: 10px;
 background: rgb(101, 98, 151);
 border-radius: 10px;
}

.logo
{
  opacity: 0.3;
  position: relative;
  left: 80%;
  top:-101.5vh;
  width: 12vw;
  height: 6vh;
  box-shadow: 10px 10px 111px 23px rgba(0,0,0,0.75);
  border-radius: 20px;
  border: 7px solid rgb(245, 35, 35);
  transition: 0.8;
}

.logo:hover
{
  
opacity: 0.8;
transition: 0.8; 
}


.rjslogo
{
  position: relative;
  width: 120px;
  top: -220px;
  left: 75vw;
  box-shadow: 10px 10px 80px 23px rgba(0,0,0,0.75);
  border-radius: 40px;
}

